.deps/
.dirstamp
/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/man/man1/oaklisp.1
/missing
/src/world/system-version.oak
/stamp-h1
Makefile
Makefile.in
