tmp
postinst.debhelper
prerm.debhelper
postrm.debhelper
substvars
files
oaklisp-doc
oaklisp-doc.files
oaklisp-doc.postinst.debhelper
oaklisp-doc.prerm.debhelper
*.log
oaklisp
oaklisp.postinst.debhelper
oaklisp.postrm.debhelper
oaklisp.substvars
