Source: oaklisp
Section: interpreters
Priority: optional
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Standards-Version: 3.8.0
Build-depends: oaklisp, debhelper (>= 5), texlive-latex-base, texlive-latex-extra

Package: oaklisp
Architecture: armel lpia i386 armeb arm hppa m32r m68k mips mipsel powerpc s390 s390x sh3 sh3eb sh4 sh4eb sparc
Depends: ${shlibs:Depends}
Description: An object-oriented dialect of Scheme
 Oaklisp is a dialect of Scheme that combines lexical scoping with
 first-class types.  It uses a byte-coded implementation, but is
 reasonably fast anyway.  Complete with bignums, formatted output,
 transparent delays, RnRS compatibility package; all the luxuries
 except floating point and foreign function calls.

Package: oaklisp-doc
Architecture: all
Suggests: oaklisp, postscript-viewer
Description: Documentation for the Oaklisp dialect of Scheme
 Documentation for the Oaklisp object-oriented dialect of Scheme.
