#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh $@ --parallel --with autoreconf

# This uses installed oaklisp package for building world.
# override_dh_auto_build:
# 	dh_auto_build -- OAK=/usr/bin/oaklisp
