#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS += "-g -Wall"
CPPFLAGS += -DFAST

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS += -O3
endif

export CFLAGS
export CPPFLAGS

export prefix=/usr
export DESTDIR=`pwd`/debian/tmp

build: build-stamp
build-stamp:
	dh_testdir
	$(MAKE) # compile the package
	touch build-stamp

clean:
	dh_testdir
	rm -f build-stamp	
	-$(MAKE) clean # clean up after the build process
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install # install into debian/tmp
	dh_install

# Build architecture-independent files here.
binary-indep: DH_OPTIONS=-i
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installmanpages
	dh_installinfo
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-indep: DH_OPTIONS=-a
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installmenu
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
